<!DOCTYPE html>
<html>
<head>
  <title>Fundme</title>
</head>
<body>
  <header>
    <button><a href="http://127.0.0.1:8000/signup/">Sign Up</a></button>
    <button><a href="http://127.0.0.1:8000/login/">login</a></button>
    <button><a href="http://127.0.0.1:8000/logout/">Logout</a></button>
    <button><a href="http://127.0.0.1:8000/profile/">Profile</a></button>
    <button><a href="http://127.0.0.1:8000/">Home</a></button>
  </header>
  
  {% block content %}{% endblock %}
  
  <footer>
    Copyright © 2023 Fundme
  </footer>
</body>
</html>
